services:

  frontend:
    build:
      context: ../Frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ../Frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://backend:8000
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.docker
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:14-alpine
    env_file:
      - .env.docker
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  pgdata: