body {
  background-color: #121212 !important;
  color: #fff !important;
}

.swagger-ui .topbar {
  background-color: #1f1f1f;
}

.swagger-ui .opblock {
  background-color: #1e1e1e;
  border-color: #333;
}

.swagger-ui .opblock-summary {
  background-color: #2a2a2a;
}

.swagger-ui .responses-wrapper,
.swagger-ui .opblock-body {
  background-color: #1e1e1e;
}

.swagger-ui .topbar { display: none }

.swagger-ui .scheme-container {
  background-color: #121212;
}

.swagger-ui .opblock .opblock-section-header {
  background-color: #121212;
}

.scheme-container .scheme-item {
  background-color: #1e1e1e;
}

.scheme-container .scheme-item .scheme-item-title {
  color: #fff !important;
}

.swagger-ui .info .title,
.swagger-ui .opblock-tag,
.swagger-ui .opblock-summary-path,
.swagger-ui .parameter__name,
.swagger-ui .model-title,
.swagger-ui .scheme-container {
  color: #fff !important;
}

.swagger-ui .info p,
.swagger-ui .info .description,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-description,
.swagger-ui .response-col_status,
.swagger-ui .response-col_description,
.swagger-ui .opblock-summary-description,
.swagger-ui .opblock-summary-description p,
.swagger-ui .parameter__description,
.swagger-ui .parameter__description p,
.swagger-ui .prop-name,
.swagger-ui .prop-type,
.swagger-ui table thead tr td,
.swagger-ui table tbody tr td {
  color: #fafafa !important;
}

.swagger-ui h1,
.swagger-ui h2,
.swagger-ui h3,
.swagger-ui h4,
.swagger-ui h5 {
  color: #fff !important;
}


